#app {
    min-height: 100vh;
    background-color: var(--bg-app);
}


#top-header {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 70%;
    margin: 24px auto;
}

#logo img {
    width: 54px;
    height: 54px;
    object-fit: contain;
}


#search-area {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#search-area input {
    width: 100%;
    max-width: 420px;
    height: 36px;
    padding: 0 14px;
    border-radius: 18px;
    border: 1px solid var(--border-input);
    background-color: var(--bg-main);
    color: var(--text-main);
}

#search-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-sub);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-btn img {
    width: 16px;
    height: 16px;
}


main {
    flex: 1;
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

#main-box {
    background-color: var(--bg-main);
    min-width: 966px;
    border-radius: 16px;
    padding: 24px;
    box-shadow: var(--shadow-main);
}



#result-tab {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    width: 100%;
}

#result-tab button {
    border: none;
    background: var(--bg-sub);
    padding: 6px 14px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--text-main);
}


#result-panel {
    display: flex;
    gap: 24px;
    height: 550px;
    padding: 16px;
    border-radius: 12px;
}

#result-left {
    flex: 4;
    min-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#result-right {
    flex: 2;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}


.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    padding: 18px 16px;
    background: var(--bg-sub);
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-main);
}

.result-box:hover {
    background: var(--bg-sub-hover);
}

#more {
    font-size: 13px;
    color: var(--text-sub);
    cursor: pointer;
}


.text-box {
    flex: 1;
    box-sizing: border-box;
    background: var(--bg-sub);
    border-radius: 10px;
    padding: 18px 16px;
    min-height: 90px;

    font-size: 14px;
    color: var(--text-main);
    line-height: 1.6;
}

.text-box p {
    margin-bottom: 12px;
}

.text-title {
    font-weight: bold;
}


#weather-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#weather-box > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

#weather-box span {
    font-size: 40px;
    line-height: 1;
}

#weather-box hr {
    border: none;
    height: 1px;
    background: var(--border-input);
    margin: 0;
}


#footer-content1 {
    min-width: 1200px;
}