#app {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 420px;
}
#title {
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}


.row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

.group {
    margin-top: 40px;
    margin-bottom: 40px;
}

.label {
    width: 100px;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.input1 {
    height: 30px;
    padding: 0 12px;
    background-color: #e5e5e5;
    border-radius: 10px;

    display: flex;
    align-items: center;

    
    font-size: 13px;
}

.input2 {
    height: 30px;
    padding: 0 12px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: none;
    outline: none;

    display: flex;
    align-items: center;;
    
    color: #777;
    font-size: 13px;
}

.short {
    width: 150px;
}

.long {
    width: 220px;
}

#container2 {
    display: flex;
    justify-content: flex-end;
}

#container2>button:only-child {
    width: 80px;
    height: 32px;
    background-color: #d9d9d9;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    border: none;
}
