        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        #container {
            width: 700px;
            padding: 60px;

        }

        .row {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 12px;
        }

        .group {
            margin-bottom: 40px;
        }

        .label {
            width: 100px;
            height: 30px;
            background-color: #d9d9d9;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 14px;
        }

        .input {
            height: 30px;
            padding: 0 12px;
            background-color: #e5e5e5;
            border-radius: 10px;

            display: flex;
            align-items: center;

            color: #999;
            font-size: 13px;
        }

        .short {
            width: 150px;
        }

        .long {
            width: 220px;
        }

        #container2 {
            display: flex;
            justify-content: flex-end;
        }

        .btn {
            width: 80px;
            height: 32px;
            background-color: #d9d9d9;
            border-radius: 16px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 14px;
        }