html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#head {
    width: 100%;
    height: 80px;
    top: 0;
}

#head-logo {
    height: 60px;
    width: auto;
    padding: 10px;
}

#logo {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
}

#foot {
    padding: 20px 50px;
    margin-top: auto;
}

#footer-content1 {
    border-top: 1px solid gray;
    max-width: 1200px;
    color: gray;
    text-align: right;
    line-height: 24px;
    margin: 0 auto;
    font-size: 14px;
}
