body {
    background-color: var(--bg-app);
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#head {
    height: 80px;
}

#header-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#head-logo {
    height: 60px;
}

#foot {
    padding: 20px 50px;
    margin-top: auto;
}

#footer-content1 {
    border-top: 1px solid gray;
    max-width: 1200px;
    color: gray;
    text-align: right;
    line-height: 24px;
    margin: 0 auto;
    font-size: 14px;
}
