#app {
    height: 100vh;
    display: flex;
}


#loginPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#loginCard {
    width: 420px;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}




#loginId,
#loginPw {
    width: 100%;
    height: 44px;
    margin-bottom: 14px;
    padding: 0 16px;
    border: none;
    border-radius: 10px;
    background-color: #eaeaea;
    font-size: 14px;
    box-sizing: border-box;
}


#loginButtons {
    display: flex;
    gap: 12px;
    margin: 16px 0;
}

#loginButtons button,
#loginButtons a {
    flex: 1;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;

    text-decoration: none;
    color: #000;
    font-size: 14px;
    border: none;
}


#findBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 42px;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;

    text-decoration: none;
    color: #000;
    font-size: 14px;
}

#loginLogo {
    width: 200px;
    margin-bottom: 24px;
}

#loginLogo img {
    width: 100%;
    height: auto;
    display: block;
}
