#form-container {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 420px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    line-height: 24px;
}

.form-group label {
    flex-basis: 120px;
    padding: 5px 12px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-right: 10px;
}

.form-group input {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#submit-button, #main-button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

#submit-button {
    background-color: #e0e0e0;
    margin-right: 10px;
}

#main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: #e0e0e0;
}

#submit-button:hover, #main-button:hover {
    background-color: #c0c0c0;
}

#form-container h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}