body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;

    font-family: Arial, sans-serif;

    position: relative;
}

#top {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    }
/* 

.auth {
    display: flex;
    gap: 10px;
}

.button {
    padding: 8px 16px;
    
    border: none;
    border-radius: 6px;
    
    background-color: #e0e0e0;
    
    cursor: pointer;
    font-size: 14px;
}

*/

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 40px;
}


.main-btn {
    height: 45px;
    padding: 0 16px;

    border: none;
    border-radius: 22px;

    background-color: #e0e0e0;

    cursor: pointer;
    font-size: 14px;
}


.search-textarea {
    width: 480px;
    height: 45px;

    padding: 0 20px;
    line-height: 45px;

    resize: none;
    overflow: hidden;

    border: none;
    border-radius: 25px;

    background-color: #d9d9d9;

    font-size: 14px;
    font-family: inherit;
}


.icon-btn {
    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.icon-btn img {
    width: 20px;
    height: 20px;
}

.category {
    display: flex;
    gap: 20px;

    padding: 10px 40px;
}

.category button {
    border: none;
    background: none;

    cursor: pointer;
    font-size: 14px;
}


.result-wrapper {
    margin: 20px 40px;
    padding: 20px;

    background-color: #585858;
    border-radius: 16px;
}


.result-box {
    display: block;

    height: 80px;
    padding: 12px 15px;

    background-color: #9e9e9e;
    border-radius: 10px;

    margin-bottom: 12px;

    text-decoration: none;
    color: #000;

    cursor: pointer;
}


.result-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}


.result-desc {
    font-size: 12px;
    color: #696969;
}


.result-box:last-child {
    margin-bottom: 0;
}
