#form-container {
    margin: auto;
    background-color: var(--bg-main);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-main);
    width: 420px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    line-height: 24px;
}

.form-group label {
    flex-basis: 120px;
    padding: 5px 12px;
    background-color: var(--bg-sub);
    color: var(--text-main);
    border-radius: 10px;
    margin-right: 10px;
}

.form-group input {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid var(--border-input);
    border-radius: 10px;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.id-group input {
    margin-right: 10px;
}

#check-button {
    font-size: 12px;
    padding: 8px 12px;
    background-color: var(--bg-sub-2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    color: var(--text-main);
}

#check-button:hover {
    background-color: var(--bg-sub-hover);
}

#button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#submit-button,
#main-button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--bg-sub);
    color: var(--text-main);
}

#submit-button {
    margin-right: 10px;
}

#main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#submit-button:hover,
#main-button:hover {
    background-color: var(--bg-sub-hover);
}

#form-container h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-main);
}
